.background {
    position:relative;
    background: url("~/../../images/morgan-freeman-wp.jpg") no-repeat top center fixed;
    background-size: cover;
    height: 100vw;
    width: 100%;
    margin: 0;
    padding: 0;
}


.card {
    float: left;
    position: absolute;
    left: 1vw;
    right: 1vw;
    top: 10vw;
    z-index: 1000;
}
