html {
    width: 100%;
    height: 100%;
}

body {
    color: black;
    background: white;
    width: 100%;
    height: calc(100% - 56px);
    /* height of the navbar */
    font-family: Arial, Helvetica, serif;
    letter-spacing: 0.02em;
    font-weight: 400;
}

#videoBg {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
}

.container {
    position: relative;
    height: auto;
    width: 100%;
    margin: 0 auto;
    /* CENTERS CONTAINER HORIZONTALLY */
}

div#cards-container {
    max-width: 100%;
    /* THIS IS THE MAX-WIDTH OF THE CARDS */
}

.card {
    position: relative;
    background: rgba(0, 0, 0, 0.3);
    color: white;
    overflow: hidden;
    border-radius: 5px;
    margin: 5px;

    backdrop-filter: blur(5px);
}

.card-header {
    font-size: 22px;
}

div.box-inner .title:after {
    /* adds a little line under the title, just for fun */
    content: '';
    display: block;
    margin: 10px auto 10px 0;
    width: 5%;
    border-top: 2px solid white;
}

div.box-inner img {
    display: block;
    /* removes unwanted space around img */
    float: left;
    padding: 0;
    margin: 0;
}

.video {
    display: block;
    /* removes unwanted space around img */
    float: left;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 300px;
    border-radius: 5px;
}

image {
    display: block;
    /* removes unwanted space around img */
    float: left;
    padding: 0;
    margin: 0;
    border-radius: 5px;
}

div.box-inner .content {
    padding: 1%;
}