html {
    width: 100%;
    height: 100%;
}

body {
    color: white;
    background: black;
    width: 100%;
    height: calc(100% - 56px);
    /* height of the navbar */
    font-family: Arial, Helvetica, serif, Antonellie;
    letter-spacing: 0.02em;
    font-weight: 400;
}

.videoBg {
    position: fixed;
    left: 50%;
    min-height: 120%;
    min-width: 120%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.card {
    position: relative;
    background: rgba(0, 0, 0, 0.3);
    color: white;
    overflow: hidden;
    border-radius: 5px;
    margin: 5px;

    backdrop-filter: blur(20px);
}

.card-header {
    font-size: 22px;
}

.video {
    display: block;
    /* removes unwanted space around img */
    float: left;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 300px;
    border-radius: 5px;
}

image {
    display: block;
    /* removes unwanted space around img */
    float: left;
    padding: 0;
    margin: 0;
    border-radius: 5px;
}

.page {
    position: relative;
    height: 100vh;
    text-align: center;
    top: 50%;
}

@font-face {
    font-family: "Antonellie";
    src: url("fonts/Antonellie.otf");
    src: url("fonts/Antonellie.ttf");
}

#title_text {
    font-family: "Antonellie";
    font-size: 50px;
}
